SSHITMAIDS_DEST_HOST=github.com

# external hosting port
SSHITMAIDS_PORT=2222

# generates file in /volumes/client/config with a Host entry for the sshitmaids
# host, so this can be included in users' ssh config.  Assumes the sshitmaids
# service is in the same docker network and reachable at the hostname:port
# "sshitmaids:22"
SSHITMAIDS_GENERATE_CLIENT_CONFIG=true

# github's ssh server keyscan is rate-limited so requesting it regularly is pointless.
SSHITMAIDS_DO_KEYSCAN=false